.App {
  text-align: center;
}

body{
  background-color: #ddffdd;
}

.App-body{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  text-align: justify;
  margin: 1vh 3vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.TopMenu {
  position: absolute;
  top: 5vh;
  left: 3vw;
  background-color: #343e53;
  padding: 2vh 2vw;
  color: white;
}

.Menu {
  top: 13vh;
  left: 5vw;
  position: absolute;
}

.Menu .item{
  background-color: #343e53;
  box-sizing: border-box;
  padding: 2px 2vh;
  border: 2px solid #61dafb;
  width: 120px;
}

.Menu .item a{
  color: #61dafb;
  text-decoration:none;
}

.Menu .item:hover{
  background-color: #5b6e96;
  color: white;
  border-left-width: 7px;
}

.App-header h1{
  margin-bottom:2px;
}

.App-link {
  color: #61dafb;
}

.levelList div {
  display:inline-block;
  margin: 2px; padding:3px;
  border: 1px solid green;
  cursor:pointer;
}

.levelList div.active {
  display:inline-block;
  margin: 2px; padding:3px;
  border: 1px solid green;
  background-color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
