.newline {
  clear: both;
  line-height: 0px;
}

.Game-Board {
  min-width: 100vmin;
  display: block;
  border: 5px solid #004400;
  margin: 3px;
}

.Game-void {
  float: left;
  width: 5vmin;
  height: 5vmin;
  box-sizing: border-box;
  border: 1px solid #445544;
  cursor: default;
}

.Game-cell {
  padding: 1px;
  float: left;
  width: 5vmin;
  height: 5vmin;
  font-size: 3vmin;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #002200;
  color: #66ffed;
  cursor: pointer;
}

.Game-cell:hover {
  border-color: white;
}

.Game-cell.active {
  border: 1px solid white;
  background-color: #405060;
  color: white;
  cursor: default;
}

.Game-cell.victory {
  border: 3px solid white;
  background-color: red;
  color: red;
  cursor: default;
  animation: CongratsCell infinite 3s linear;
}

.VictoryPanel {
    top: 30vh;
    left: 50vw;
    text-align: center;
    position: absolute;
    margin-left: -50vmin;
    padding: 0px;
    color: white;
    font-size: 7vmin;
    
    animation: Congrats infinite 5s linear;
    font-weight:bold;
}

.VictoryPanel div{
    margin:1vmin;
    color:#002200;
    font-size:3vmin;
    word-break: break-all;
    padding: 0px 1vw;
    width:98vmin;
    
}

.VictoryPanel div b{
  font-family: 'Courier New', Courier, monospace;
  margin:1px;
  color:black;
}

@keyframes Congrats {
  0% { color: red; }
  45% { color: yellow; }
  50% { color: white; }
  55% { color: yellow; }
  100% { color: red; }
}

@keyframes CongratsCell {
  0%   { background-color: red;   }
  50%  { background-color: yellow;}
  100% { background-color: red;   }
}